{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<!-- SocketIO JS -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>

<!-- Custom SocketIO JS -->
<script src="{{ url_for('static', filename='scripts/chat_rooms.js') }}"></script>

<!-- Main section start -->
<div id="main-section">
    <div class="row">
        <div class="col-3">
            <h1>Course</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <!-- Tab navs -->
            <div
                    class="nav flex-column nav-tabs text-center"
                    id="v-tabs-tab"
                    role="tablist"
                    aria-orientation="vertical"
            >
                <a
                        class="nav-link active"
                        id="COMP_2017"
                        data-mdb-toggle="tab"
                        href="#v-tabs-profile"
                        role="tab"
                        aria-controls="v-tabs-home"
                        aria-selected="true"
                >COMP 2017</a
                >
                <a
                        class="nav-link"
                        id="COMP 2123"
                        data-mdb-toggle="tab"
                        href="#v-tabs-profile"
                        role="tab"
                        aria-controls="v-tabs-profile"
                        aria-selected="false"
                >COMP 2123</a
                >
                <a
                        class="nav-link"
                        id="DATA_2001"
                        data-mdb-toggle="tab"
                        href="#v-tabs-messages"
                        role="tab"
                        aria-controls="v-tabs-messages"
                        aria-selected="false"
                >DATA 2001</a
                >
                <a
                        class="nav-link"
                        id="INFO_2222"
                        data-mdb-toggle="tab"
                        href="#v-tabs-messages"
                        role="tab"
                        aria-controls="v-tabs-messages"
                        aria-selected="false"
                >INFO 2222</a
                >
            </div>
            <!-- Tab navs -->
        </div>

        <div class="col-9">
            <div class="">

            </div>

            <!-- Tab content -->

        </div>
        <div class="row">
            <div class="col-3">
            </div>
            <div class="col-9">
                <div class="tab-content" id="v-tabs-tabContent">
                    <form
                            action="/upload"
                            method="POST"
                            enctype="multipart/form-data"
                    >
                        <input type="file" name="file" />
                        <input type="submit" />
                    </form>
                </div>
            </div>
        </div>
        <!-- Tab content -->

    </div>

    <!-- Sidebar start -->

    <!-- Sidebar end -->
<!-- Main section end -->

<!-- Java Script-->
</div>

<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<!-- Font Awesome JS -->
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

{% endblock %}